body {
  .component-controls {
    position: fixed;
    height: 60px;
    width: 100%;
    background-color: white;
    z-index: 1;
    top: 0;
  }
}

@media (max-width: 576px) {
  body {
    .component-controls {
      height: 130px;
    }
  }
}
